<nb-card _nghost-tbd-c77="">
    <nb-card-header>Delete you really want to delete this distillation plan?</nb-card-header>
    <nb-card-body>
        <div class="row col-md-12" style="float:none; margin:auto ;overflow: hidden; top: 20%">
            <button (click)="cancel()"
                    aria-disabled="false"
                    type="submit" ngcontent-bfe-c444="" nbbutton="" outline="" ng-reflect-outline=""
                    class="align-self-center col-md-3 appearance-outline size-medium shape-rectangle status-warning ng-star-inserted nb-transition"
                    nbTooltip="Cancel" nbTooltipPlacement="top"
                    nbTooltipStatus="alert"
                    ng-reflect-status="alert" tabindex="0" type="submit">
                <i class="align-self-center nb-chevron-left-outline" style="font-size:40px"></i>
            </button>
            <div class="col-md-6"></div>
            <button (click)="submit('success')"
                    aria-disabled="false"
                    type="submit" ngcontent-bfe-c444="" nbbutton="" outline="" ng-reflect-outline=""
                    class="align-self-center col-md-3 appearance-outline size-medium shape-rectangle status-danger ng-star-inserted nb-transition"
                    nbTooltip="Delete the distillation plan" nbTooltipPlacement="top"
                    nbTooltipStatus="danger"
                    ng-reflect-status="danger" tabindex="0" type="submit">
                <i class="align-self-center  nb-trash" style="font-size:40px"></i>
            </button>
        </div>
    </nb-card-body>
</nb-card>
