<nb-card _nghost-tbd-c77="">
  <nb-card-header>Delete you really want to delete this distillation plan?</nb-card-header>
  <nb-card-body>
    <div class="row" style="float:none; margin:auto ;overflow: hidden; top: 20%">
      <button aria-disabled="false"
              class="margin:auto col-md-5 mat-ripple cancel appearance-filled size-medium shape-rectangle status-danger nb-transition"
              status="danger" tabindex="0">Cancel
      </button>
      <button aria-disabled="false"
              class="margin:auto col-md-5  mat-ripple status-success appearance-filled size-medium shape-rectangle nb-transition"
              status="success" tabindex="0">Delete
      </button>
    </div>
  </nb-card-body>
</nb-card>
