<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header class="row">
                <h1 class="col-md-11 align-self-center">
                    <div *ngIf="(distillationProcedure)">
                        Procedure for a distillation plan {{distillationProcedure.distillationPlanName}}, attempt
                        # {{distillationProcedure.attemptNumber}}
                    </div>
                </h1>
                <button (click)="gotoDistillationProcedureList()"
                        aria-disabled="false"
                        class="float-right status-warning appearance-outline size-medium shape-rectangle ng-star-inserted nb-transition"
                        nbTooltip="Create a new distillation plan" nbTooltipPlacement="top" nbTooltipStatus="alert"
                        nbbutton=""
                        ng-reflect-outline=""
                        ng-reflect-status="alert" ngcontent-bfe-c444=""
                        outline=""
                        tabindex="0" type="submit" type="submit">
                    <i class="nb-chevron-left-outline" style="font-size:40px"></i>
                </button>
            </nb-card-header>
            <nb-card-body>
                <div class="col-12">
                    <div class="chart-container">
                        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
                        <ngx-chart-panel-header [type]="temperatureHeader">
                        </ngx-chart-panel-header>
                        <ngx-orders-chart #temperatureChart
                                          [ordersChartData]="chartDataTemperature"></ngx-orders-chart>
                    </div>
                    <div class="chart-container">
                        <ngx-chart-panel-header [type]="flowHeader">
                        </ngx-chart-panel-header>
                        <ngx-orders-chart #flowChart
                                          [ordersChartData]="chartDataFlow"></ngx-orders-chart>
                    </div>
                    <div class="chart-container">
                        <ngx-chart-panel-header [type]="weightHeader">
                        </ngx-chart-panel-header>
                        <ngx-orders-chart #weightChart [ordersChartData]="chartDataWeight"></ngx-orders-chart>
                    </div>
                    <div class="chart-container">
                        <ngx-chart-panel-header [type]="alcHeader">
                        </ngx-chart-panel-header>
                        <ngx-orders-chart #alcChart [ordersChartData]="chartDataAlc"></ngx-orders-chart>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

</div>
