<div class="steppers-container row">
    <div class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card>

            <nb-card-header class="row">
                <h1 class="col-md-11 align-self-center">
                    <div *ngIf="(distillationProcedure)">
                        Procedure for a distillation plan {{distillationProcedure.distillationPlanName}}, attempt
                        # {{distillationProcedure.attemptNumber}}
                    </div>
                </h1>
                <button (click)="gotoDistillationProcedureList()"
                        aria-disabled="false"
                        type="submit" ngcontent-bfe-c444="" nbbutton="" outline="" ng-reflect-outline=""
                        class="float-right status-warning appearance-outline size-medium shape-rectangle ng-star-inserted nb-transition"
                        nbTooltip="Create a new distillation plan" nbTooltipPlacement="top"
                        nbTooltipStatus="alert"
                        ng-reflect-status="alert" tabindex="0" type="submit">
                    <i class="nb-chevron-left-outline" style="font-size:40px"></i>
                </button>
            </nb-card-header>

            <nb-card-body style="margin-top:5%">

            </nb-card-body>

        </nb-card>

        <nb-card size="large">
            <nb-tabset fullWidth (changeTab)="changeTab($event)">
                <nb-tab tabTitle="Temperature" tabId="temperature">
                    <div class="chart-container">
                        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
                        <ngx-orders-chart #temperatureChart [ordersChartData]="chartData"></ngx-orders-chart>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Flow" tabId="flow">
                    <div class="chart-container">
                        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
                        <ngx-chart-panel-header>
                        </ngx-chart-panel-header>
                        <ngx-orders-chart #flowChart [ordersChartData]="chartData"></ngx-orders-chart>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Weight" tabId="weight">
                    <div class="chart-container">
                        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
                        <ngx-orders-chart #alcChart [ordersChartData]="chartData"></ngx-orders-chart>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Alc %" tabId="alc">
                    <div class="chart-container">
                        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
                        <ngx-orders-chart #alcChart [ordersChartData]="chartData"></ngx-orders-chart>
                    </div>
                </nb-tab>
            </nb-tabset>
        </nb-card>

    </div>
</div>
